<!DOCTYPE html>
<html lang="en">

<head>
    <!--css load-->
    <config>
        <%- include('include/config.ejs') %>
    </config>

    <head>

        <!--<script src="/js/jquery-ui.min.js"></script>-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/jquery.dataTables.css" rel="stylesheet">
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">

        <script src="/js/jquery.js"></script>
        <script src="js/jquery.dataTables.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/agent-1.css">


        <script src="/javascripts/agent-1.js"></script>
        <script>
            $(document).ready(function() {
                $("#pitcher").click(function() {
                    $("#pitcher_box").show();
                    $("#hitter_box").hide();
                });
                $("#hitter").click(function() {
                    $("#pitcher_box").hide();
                    $("#hitter_box").show();
                });

            });
        </script>
    </head>

</head>

<body style=" width: 1500px;">

    <!-- Page Header -->
    <header>
        <%- include('include/header-agent.ejs') %>
    </header>

    <hr>

    <!-- Main Content -->
    <div class="container">
        <section2 >
            <%- include('include/select-team.ejs') %>
        </section2>

        <div id="section3" class="row text-center" style=" width: 1500px;">
            <div class="col-sm-12 border" >
                <%- include('include/team-info.ejs') %>
            </div>
        </div>

        <div id="section4" class="row">
            <a class="btn btn-primary btn-sm active" id="pitcher" role="button" aria-pressed="true" >투수</a>
            <a class="btn btn-primary btn-sm active" id="hitter" role="button" aria-pressed="true">타자</a>
        </div>

        <div id="section5" class="row text-center" style="width:1500px">
            <div class="col-sm-12 border" id="pitcher_box" >
                <!--Table-->
                <table class="display" id="team_pitcher" style: "display:none">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>WIN</th>
                            <th>LOSE</th>
                            <th>SAVE</th>
                            <th>HOLD</th>
                            <th>ER</th>
                            <th>IP</th>
                            <th>CG</th>
                            <th>H</th>
                            <th>NP</th>
                            <th>ERA</th>
                            <th>DOBLE</th>
                            <th>TRIPLE</th>
                            <th>G</th>
                            <th>SALARY</th>
                            <th>BUTTON</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                </table>
                <!--Table-->
            </div>

            <div class="col-sm-12 border" id="hitter_box">
                <!--Table-->
                <table class="display" id="team_hitter" sytle: "display:none">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>PA</th>
                            <th>AB</th>
                            <th>DOBLE</th>
                            <th>TRIPLE</th>
                            <th>SB</th>
                            <th>CS</th>
                            <th>SH</th>
                            <th>SF</th>
                            <th>SALARY</th>
                            <th>AVG</th>
                            <th>BUTTON</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                </table>
                <!--Table-->
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <%- include('include/footer.ejs') %>
    </footer>
</body>

</html>